*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
  min-height: 550px;
}

.App{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-logo{
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:grey;
}

.imagen-logo{
  width: 700px;
  height: 200px;
}

.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  border-radius: 26px;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  background-color: #d0d0d5;
}

h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

